<!DOCTYPE html>
<html lang="en-za">
<head>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta charset="utf-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128063984-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-128063984-4');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("MetaTags", required: false)
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaKeywords))
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    <title>@(ViewBag.Title == "Observations Database" || string.IsNullOrEmpty(ViewBag.Title) ? "Observations Database" : @ViewBag.Title + " - Observations Database")</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <!-- MDBoostrap -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="~/node_modules/mdbootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="~/node_modules/mdbootstrap/css/style.css">
    <!-- MDBoostrap -->

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/SAEON.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="stylesheet" href="~/css/SAEON.min.css" />
    </environment>

    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    @RenderSection("Styles", required: false)
</head>
<body class="bg-SAEON" id="Document">
    <div id="Page" class="container-fluid bg-white text-dark rounded">
        <header id="Header">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="Logo img-fluid" src="~/Images/Banner.jpg" alt="SAEON Banner" title="© SAEON" />
                </div>
            </div>
            <nav class="navbar navbar-expand-sm navbar-dark bg-SAEON rounded">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownQuery" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Query</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownQuery">
                                <a class="dropdown-item" asp-area="" asp-controller="Query" asp-action="Data">Data</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Query" asp-action="Datasets">Datasets</a>
                                @*<a class="dropdown-item" asp-area="" asp-controller="Sensors" asp-action="Index">Sensors</a>*@
                                <a class="dropdown-item" asp-area="" asp-controller="Query" asp-action="Coverage">Coverage</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <partial name="_AdminPartial" />
                        <partial name="_DataSourcesPartial" />
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </nav>
            <h1>
                @if (ViewBag.Title == "Observations Database" || string.IsNullOrWhiteSpace(ViewBag.Title))
                {
                    <text>Observations Database</text>
                }
                else
                {
                    <text>Observations Database</text> @:&ndash; @ViewBag.Title
                    if (!string.IsNullOrWhiteSpace(ViewBag.Description))
                    {
                        <small>@Html.Raw(ViewBag.Description)</small>
                    }
                }
            </h1>
        </header>

        <div id="Body">
            @RenderBody()
        </div>

        <footer id="Footer">
            <div class="row">
                <div class="col-6">
                    <br />
                    &copy; @DateTime.Now.Year - South African Environmental Observation Network (SAEON)<br />
                    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                        <img alt="Creative Commons License" class="footer-image" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                    </a>
                    <br />
                    <div style="clear: both">
                        Observations Database is licensed under a <a rel="license" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a><br />
                        @Html.ActionLink("How to cite", "HowToCite", "Home")
                    </div>
                </div>
                <div class="col-6">
                    <div class="float-right">
                        <a href="https://www.dst.gov.za/" target="_blank">
                            <img class="footer-image dsi-logo" src="~/Images/DSI logo.jpg" alt="Department of Science and Innovation logo" title="Department of Science and Innovation" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- MDBoostrap -->
    <script type="text/javascript" src="~/node_modules/mdbootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/node_modules/mdbootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="~/node_modules/mdbootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/node_modules/mdbootstrap/js/mdb.min.js"></script>
    <!-- MDBoostrap -->

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
