@using SAEON.Observations.QuerySite.Models
@model InventoryModel
@{
    ViewBag.Title = "Inventory";
}
<div id="waiting">
    @Html.EJ().WaitingPopup("waiting").Text("Please wait...").ShowOnInit(true)
    <div class="row">
        <div class="col-md-12">
            @{Html.EJ().Accordion("accordianInventory").Width("100%").EnableMultipleOpen(false).Items(data =>
                {
                    data.Add().Text("Totals").ContentTemplate(@<div>@Html.Partial("Totals", Model)</div>);
                    data.Add().Text("Stations").ContentTemplate(@<div>@Html.Partial("Stations", Model)</div>);
                    data.Add().Text("Phenomena").ContentTemplate(@<div>@Html.Partial("Phenomena", Model)</div>);
                    data.Add().Text("Instruments").ContentTemplate(@<div>@Html.Partial("Instruments", Model)</div>);
                    data.Add().Text("Years").ContentTemplate(@<div>@Html.Partial("Years", Model)</div>);
                    data.Add().Text("Organisations").ContentTemplate(@<div>@Html.Partial("Organisations", Model)</div>);
                })
                .Render();
}
        </div>
    </div>
    @*<div class="row ButtonRow">
            <div class="col-md-12" id="PartialButtons">
                @Html.Partial("Buttons", Model)
            </div>
        </div>*@
</div>
<script type="text/javascript">
    $(function () {
        //$("#ResultsTab").addClass("hidden");
    });
    function ShowWaiting() {
        var wp = $("#waiting").data("ejWaitingPopup");
        wp.show();
    }
    function HideWaiting() {
        var wp = $("#waiting").data("ejWaitingPopup");
        wp.hide();
    }
</script>
<style type="text/css" class="cssStyles">
    #target {
        margin: 0 auto;
    }

    #target_WaitingPopup .e-image {
        display: block;
        height: 100px;
    }

    #popup {
        height: auto;
        width: auto;
        margin-top: 100px;
    }
</style>
