@using SAEON.Observations.QuerySite.Models
@model DataWizardModel
<div class="row">
    <div class="col-md">
        <strong>Copyright</strong>
        <p id="Footer">
            &copy; @DateTime.Now.Year - South African Environmental Observation Network (SAEON)<br />
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                <img alt="Creative Commons License" class="image-respoonsive footer-left-image" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
            </a>
            <br />
            <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Observations Database</span> is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
        </p>
        <strong>Attribution</strong>
        <p>The dataset should be cited as "South African Environmental Observation Network (SAEON) @DateTime.Now.Year, Observations Database, http://doi.saeon.ac.za/@Guid.NewGuid().ToString() accessed @DateTime.Now.ToString("dd MMM yyyy")".</p>
        <p>
            Users of SAEON data are required to clearly acknowledge the source of the material derived from SAEON in the format:
            "Data was sourced from the South African Environmental Observation Network (SAEON)".
            If relevant, also credit other organisations involved in collection of this particular datastream (as listed in 'credit' in the metadata record).
        </p>
        <strong>Usage</strong>
        <p>
            Data, products and services from SAEON are provided "as is" without any warranty as to fitness for a particular purpose.
        </p>
        <p>
            By using this data you are accepting the license agreement and terms specified above.
            You accept all risks and responsibility for losses, damages, costs and other consequences resulting directly or indirectly from using this site
            and any information or material available from it.
        </p>
        <strong>Format</strong>
        <p>
            @{
                string[] datasource = new string[] { "CSV", "Excel", "NetCDF" };
                Html.EJ()
                    .ComboBox("selectFormat")
                    .Width("100")
                    .AutoFill(true)
                    .ShowClearButton(false)
                    .Datasource(datasource)
                    .Placeholder("Select a format")
                    .Text("CSV")
                    .Render();
            }
        </p>
    </div>
</div>
<div class="row ButtonRow">
    <div class="col-md">
        @(Html.EJ()
            .Button("btnDownloadOk")
            .Text("Accept")
            .ShowRoundedCorner(true)
            .Type(ButtonType.Button)
            .Size(ButtonSize.Medium)
            .ContentType(ContentType.TextAndImage)
            .PrefixIcon("e-icon e-righttick")
            .ClientSideEvents(e => e.Click("DataWizard.Download"))
        )
        @(Html.EJ()
            .Button("btnDownloadCancel")
            .Text("Cancel")
            .ShowRoundedCorner(true)
            .Type(ButtonType.Button)
            .Size(ButtonSize.Medium)
            .ContentType(ContentType.TextAndImage)
            .PrefixIcon("e-icon e-cancel")
            .ClientSideEvents(e => e.Click("DataWizard.DownloadClose"))
        )
    </div>
</div>
@Html.EJ().ScriptManager()