@using SAEON.Observations.QuerySite.Models
@model DataWizardModel
<div class="row">
    <div class="col-md-1">
        @Html.LabelFor(i => i.StartDate)
    </div>
    <div class="col-md-11">
        @Html.EJ().DatePickerFor(i => i.StartDate).DateFormat("yyyy-MM-dd").ClientSideEvents(ev => ev.Change("DataWizard.FiltersChanged"))
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        @Html.LabelFor(i => i.EndDate)
    </div>
    <div class="col-md-11">
        @Html.EJ().DatePickerFor(i => i.EndDate).DateFormat("yyyy-MM-dd").ClientSideEvents(ev => ev.Change("DataWizard.FiltersChanged"))
    </div>
</div>
<div class="row">
    <div class="col-md text-center">
        @Html.LabelFor(i => i.ElevationMinimum, "Elevation (m)")
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        @(Html.EJ().Slider("ElevationSlider").SliderType(SlideType.Range).MinValue(-100).MaxValue(3000).ShowScale(true).SmallStep(25).LargeStep(100).ClientSideEvents(ev => ev.Change("DataWizard.FiltersChanged")))
    </div>
    <div class="col-md-1"></div>
</div>
