@model SAEON.Observations.QuerySite.Models.DataWizardModel

@{
    ViewBag.Title = "Data";
}
<div id="waiting">
    @Html.EJ().WaitingPopup("waiting").Text("Please wait...").ShowOnInit(true)
    <div class="row">
        <div class="col-md">
            @(Html.EJ().Tab("DataWizardTabs").Items(tabs =>
                {
                    tabs.Add().ID("LocationsTab").Text("Locations").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-6" id="PartialLocations">
                                @Html.Partial("_Locations", Model)
                            </div>
                            <div class="col-md-6" id="PartialLocationsSelected">
                                @*@Html.Partial("_LocationsSelected", Model)*@
                            </div>
                        </div>);
                    tabs.Add().ID("FeaturesTab").Text("Features").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-6" id="PartialFeatures">
                                @Html.Partial("_Features", Model)
                            </div>
                            <div class="col-md-6" id="PartialFeaturesSelected">
                                @*@Html.Partial("_FeaturesSelected", Model)*@
                            </div>
                        </div>);
                    tabs.Add().ID("FiltersTab").Text("Filters").ContentTemplate(
                        @<div class="row">
                            <div class="col-md" id="PartialFilters">
                                @Html.Partial("_Filters", Model)
                            </div>
                        </div>);
                    tabs.Add().ID("StationsMapTab").Text("Stations").ContentTemplate(
                    @<div class="row">
                        <div class="col-md" id="PartialStationsMap">
                            @Html.Partial("_StationsMap", Model)
                        </div>
                    </div>);
                    tabs.Add().ID("TableTab").Text("Table").ContentTemplate(
                        @<div class="row">
                            <div class="col-md" id="PartialTable">
                            </div>
                        </div>);
                    tabs.Add().ID("ChartTab").Text("Chart").ContentTemplate(
                        @<div class="row">
                            <div class="col-md" id="PartialChart">
                            </div>
                        </div>);
                })
            .ClientSideEvents(ev => ev.ItemActive("DataWizard.TabActive"))
            )
        </div>
    </div>
    <div class="row PaddedRow">
        <div class="col-md" id="PartialButtons">
            @Html.Partial("_Buttons", Model)
        </div>
    </div>
    <div id="PartialApproximation">
        @Html.Partial("_Approximation", Model)
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/DataWizard.js")
    <script type="text/javascript">
        $(function () {
            DataWizard.HideResults();
            DataWizard.SetIsAuthenticated(@Model.IsAuthenticated.ToString().ToLower());
            DataWizard.SetUserQueriesCount(@Model.UserQueries.Count);
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6TVt9f_c9hnz3TJL5HMJuX04iNXa43RI&callback=DataWizard.InitMap">
        </script>
}
<style type="text/css" class="cssStyles">
    #target {
        margin: 0 auto;
    }

    #target_WaitingPopup .e-image {
        display: block;
        height: 70px;
    }

    #popup {
        height: auto;
        width: auto;
        margin-top: 100px;
    }
</style>