@model SAEON.Observations.Core.UserDownload

@{
    ViewBag.Title = "View Download";
}
@section MetaTags {
    <meta name="dc.identifier" content="@Model.DigitalObjectIdentifier.DOI" />
    <meta name="citation_doi" content="@Model.DigitalObjectIdentifier.DOI">
}
<div class="row">
    <div class="col-md">
        <p class="font-weight-bold">Digital Object Identifier (DOI)</p>
        <p><a href="@Model.DigitalObjectIdentifier.DOIUrl">@Model.DigitalObjectIdentifier.DOI</a></p>
        <p class="font-weight-bold">Title</p>
        <p>@Model.DigitalObjectIdentifier.Title</p>
        <p class="font-weight-bold">Description</p>
        <p>@Model.Description</p>
        <p class="font-weight-bold">Copyright and license</p>
        <p>
            &copy; @DateTime.Now.Year - South African Environmental Observation Network (SAEON)<br />
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                <img alt="Creative Commons License" class="image-respoonsive footer-left-image" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
            </a>
            <br />
            <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Observations Database</span> is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
        </p>
        <p class="font-weight-bold">Attribution</p>
        <p>
            Users of SAEON data are required to clearly acknowledge the source of the material derived from SAEON. Please cite as follows:<br />
            <br />
            @Html.Raw(Model.DigitalObjectIdentifier.CitationHtml)
        </p>
        <p class="font-weight-bold">Usage</p>
        <p>
            Data, products and services from SAEON are provided "as is" without any warranty as to fitness for a particular purpose
        </p>
        <p>
            By using this data you are accepting the license agreement and terms specified above.
            You accept all risks and responsibility for losses, damages, costs and other consequences resulting directly or indirectly from using this site
            and any information or material available from it
        </p>
        <p class="font-weight-bold">Metadata</p>
        <p>The metadata for your download from the Observations Database is available at <a href="@Model.DigitalObjectIdentifier.MetadataUrl" target="_blank">@Model.DigitalObjectIdentifier.MetadataUrl.RemoveHttp())</a></p>
        <p class="font-weight-bold">Download Zip</p>
        <p>Your download from the Observations Database is available at @Html.ActionLink(Model.ZipUrl.RemoveHttp(), "DownloadZip", new { id = Model.Id })</p>
        <p class="font-weight-bold">Checksum</p>
        <p>The SHA 256 checkSum for your zip is @Model.ZipCheckSum</p>
    </div>
</div>
