@model SAEON.Observations.Core.Entities.UserDownload

@{
    ViewBag.Title = "View Download";
}
<div class="row">
    <div class="col-md">
        <strong>Digital Object Identifier (DOI)</strong>
        <p><a href="@Model.DigitalObjectIdentifier.DOIUrl">@Model.DigitalObjectIdentifier.DOIUrl</a></p>
        <strong>Title</strong>
        <p>@Model.Title</p>
        <strong>Description</strong>
        <p>@Model.Description</p>
        <strong>Copyright and license</strong>
        <p>
            &copy; @DateTime.Now.Year - South African Environmental Observation Network (SAEON)<br />
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                <img alt="Creative Commons License" class="image-respoonsive footer-left-image" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
            </a>
            <br />
            <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Observations Database</span> is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
        </p>
        <strong>Attribution</strong>
        <p>
            Publications using SAEON observation data should cite the dataset as follows:<br />
            @Model.Citation
        </p>
        <p>
            Users of SAEON data are required to clearly acknowledge the source of the material derived from SAEON in the format:
            "Data was sourced from the <a href="http://www.saeon.ac.za" target="_blank">South African Environmental Observation Network (SAEON)</a> Observations Database".<br />
            If relevant, also credit other organisations involved in collection of this particular dataset (as listed in 'credit' in the metadata record).
        </p>
        <strong>Usage</strong>
        <p>
            Data, products and services from SAEON are provided "as is" without any warranty as to fitness for a particular purpose.
        </p>
        <p>
            By using this data you are accepting the license agreement and terms specified above.
            You accept all risks and responsibility for losses, damages, costs and other consequences resulting directly or indirectly from using this site
            and any information or material available from it.
        </p>
        <strong>Metadata</strong>
        <p>The metadata for your download from the Observations Database is available <a href="@Model.MetadataUrl">here</a>.</p>
        <strong>Zip download</strong>
        <p>Your download from the Observations Database is available @Html.ActionLink("here", "DownloadZip", new { id = Model.Id }).</p>
    </div>
</div>
