@{
    ViewBag.Title = "Admin";
}
<div class="row">
    <div class="col-lg">
        <p>
            Administrative tasks
        </p>
        <ul>
            <li>@Html.ActionLink("Create DOIs", "CreateDOIs", "Admin")</li>
            <li>@Html.ActionLink("Create Metadata", "CreateMetadata", "Admin")</li>
            <li>@Html.ActionLink("CreateODPMetadata", "CreateODPMetadata", "Admin")</li>
            <li>@Html.ActionLink("Create Datasets", "CreateDatasets", "Admin")</li>
            <li>@Html.ActionLink("Import Setup", "ImportSetup", "Admin")</li>
        </ul>
    </div>
</div>