@model SAEON.Observations.Core.Entities.UserQuery

@{
    ViewBag.Title = "User Query";
}
<div class="row">
    <div class="col-md-12">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.QueryInput)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.QueryInput)
                </dd>*@
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>