@using SAEON.Observations.QuerySite.Models
@model QueryModel
@foreach (var card in Model.Results.Cards)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">@card.Station<br /><small>@card.Site</small></div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">Instruments</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                @foreach (var instrument in card.Instruments)
                                {
                                    <li class="list-group-item">@instrument.Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Phenomena</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                @foreach (var phenomena in card.Phenomena)
                                {
                                    <li class="list-group-item">@phenomena.Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Html.EJ().ScriptManager()
