@using System.Web
@{
                /**/

                ViewData["Title"] = "How To Cite";
}

<div class="row">
    <div class="col-lg">
        <p>Please cite usage of the Observations Database as follows:</p>
        <p>
            From the <a href="https://observations.saeon.ac.za" target="_blank">Observations Database</a>
            by the <a href="http://www.saeon.ac.za" target="_blank">South African Environmental Observation Network (SAEON)</a>,
            under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>
        </p>
        <p>
            @Html.Raw(HttpUtility.HtmlEncode("<p>"))<br />
            @Html.Raw(HttpUtility.HtmlEncode("From the <a href=\"https://observations.saeon.ac.za\" target=\"_blank\">Observations Database</a>"))<br />
            @Html.Raw(HttpUtility.HtmlEncode("by the <a href=\"http://www.saeon.ac.za\" target=\"_blank\">South African Environmental Observation Network (SAEON)</a>,"))<br />
            @Html.Raw(HttpUtility.HtmlEncode("under a <a href=\"https://creativecommons.org/licenses/by-sa/4.0/\" target=\"_blank\">Creative Commons Attribution-ShareAlike 4.0 International License</a>"))<br />
            @Html.Raw(HttpUtility.HtmlEncode("</p>"))
        </p>
    </div>
</div>


