@model SAEON.Observations.QuerySite.Models.HomeModel
@using System.Configuration;
@{
    ViewBag.Title = "Observations Database";
}
@section MetaTags {
    <meta name="google-site-verification" content="X5PEowbP3hWPiigk5XU_VSVb79bjwBjAumMd0SnanjM" />
    <meta name="msvalidate.01" content="C8A2A99147917721302B2895028A760C" />
}
<div class="row">
    <div class="col-md">
        <p>
            The South African Environmental Observation Network (<a href="https://www.saeon.ac.za" target="_blank">SAEON</a>) was established in 2002.
            SAEON is a research platform funded by the Department of Science and Innovation (<a href="https://www.dst.gov.za/" target="_blank">DSI</a>) and
            managed by the National Research Foundation (<a href="https://www.nrf.ac.za/" target="_blank">NRF</a>).
            SAEON serves as a national platform for detecting, translating and predicting environmental change through scientifically designed observation systems and research.
        </p>
        <p>
            Our network consists of @($"{Model.Sites:n0}") sites, @($"{Model.Stations:n0}") stations, @($"{Model.Instruments:n0}") instruments,
            @($"{Model.Sensors:n0}") @Html.ActionLink("sensors", "Sensors", "Query"), @($"{Model.Phenomena:n0}") phenomena, @($"{Model.Offerings:n0}") offerings,
            @($"{Model.UnitsOfMeasure:n0}") units of measure, @($"{Model.Variables:n0}") variables, @($"{Model.Datasets:n0}") @Html.ActionLink("datasets", "Datasets", "Query")
            and @($"{Model.Observations:n0}") verified observations.
        </p>
        <p><i class="fas fa-search"></i> @Html.ActionLink("Search our data", "Data", "Query")</p>
        <p><i class="fas fa-info"></i> @Html.ActionLink("More about SAEON", "About", "Home")</p>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <div id="mapLocations" style="height:600px; width:100%"></div>
    </div>
</div>
@section Scripts {
    <script type="module">
        import * as Home from "/Scripts/Home.js";
        window.Home = Home;
    </script>
    <script type="text/javascript">
        function waitForHome() {
            if (typeof Home !== "undefined") {
                Home.InitMap();
                Home.WaitForMap();
            }
            else {
                setTimeout(waitForHome, 500);
            }
        }
        window.InitMap = function () {
            waitForHome();
        }
    </script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=@ConfigurationManager.AppSettings["GoogleMapsAPIKey"]&callback=InitMap"></script>
}
