@model SAEON.Observations.QuerySite.Models.HomeModel
@using Humanizer;
@using System.Configuration;
@{
    ViewBag.Title = "Observations Database";
}
@section MetaTags {
    <meta name="google-site-verification" content="X5PEowbP3hWPiigk5XU_VSVb79bjwBjAumMd0SnanjM" />
    <meta name="msvalidate.01" content="C8A2A99147917721302B2895028A760C" />
}
<div class="row">
    <div class="col-lg">
        <p>
            The South African Environmental Observation Network (<a href="https://www.saeon.ac.za" target="_blank">SAEON</a>) was established in 2002.
            SAEON is a research platform funded by the Department of Science and Innovation (<a href="https://www.dst.gov.za/" target="_blank">DSI</a>) and
            managed by the National Research Foundation (<a href="https://www.nrf.ac.za/" target="_blank">NRF</a>).
            SAEON serves as a national platform for detecting, translating and predicting environmental change through scientifically designed observation systems and research.
        </p>
        <p>
            Our network consists of @("sites".ToQuantity(Model.Sites,"n0")), @("stations".ToQuantity(Model.Stations,"n0")), @("instruments".ToQuantity(Model.Instruments, "n0")),
            @($"{Model.Sensors:n0}") @Html.ActionLink("sensors".ToQuantity(Model.Sensors, ShowQuantityAs.None), "Sensors", "Query"),
            @("phenomena".ToQuantity(Model.Phenomena,"n0")), @("offerings".ToQuantity(Model.Offerings,"n0")), @("units".ToQuantity(Model.UnitsOfMeasure,"n0")) of measure,
            @("variables".ToQuantity(Model.Variables,"n0")), @($"{Model.Datasets:n0}") @Html.ActionLink("datasets".ToQuantity(Model.Datasets, ShowQuantityAs.None), "Datasets", "Query")
            and @("verified observations".ToQuantity(Model.Observations,"n0")).
        </p>
        <p><i class="fas fa-search"></i> @Html.ActionLink("Search our data", "Data", "Query")</p>
        <p><i class="fas fa-info"></i> @Html.ActionLink("More about SAEON", "About", "Home")</p>
    </div>
</div>
<div class="row">
    <div class="col-lg">
        <div id="mapLocations" style="height:600px; width:100%"></div>
    </div>
</div>
@section Scripts {
    <script type="module">
        import * as Home from "/Scripts/Home.js";
        window.Home = Home;
    </script>
    <script type="text/javascript">
        function waitForHome() {
            if (typeof Home !== "undefined") {
                Home.InitMap();
                Home.WaitForMap();
            }
            else {
                setTimeout(waitForHome, 500);
            }
        }
        window.InitMap = function () {
            waitForHome();
        }
    </script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=@ConfigurationManager.AppSettings["GoogleMapsAPIKey"]&callback=InitMap"></script>
}
