@using SAEON.Logs
@inject Microsoft.Extensions.Configuration.IConfiguration config
@{
    ViewData["Title"] = "Datasets";
    SAEONLogs.Information("Tenant: {Tenant} Authorization: {Authorization} WebAPIUrl: {WebAPIUrl}", ViewData["Tenant"], ViewData["Authorization"], ViewData["WebAPIUrl"]);
    var headers = new object[] { new { Tenant = @ViewData["Tenant"] } };
}

<div class="row">
    <div class="col-md">
        <ejs-grid id="Grid">
            @*            <e-data-manager url='@config["WebAPIUrl"].AddTrailingForwardSlash()+"Internal/InventoryDatasets' headers="@new object[] {new { Tenant = @ViewData["Tenant"]}, new { Authorization = @ViewData["Authorization"]} }" adaptor="ODataV4Adaptor" crossdomain="true"></e-data-manager>*@
            <e-data-manager url="@ViewData["WebAPIUrl"]" headers="@headers" adaptor="ODataV4Adaptor"></e-data-manager>
            <e-grid-columns>
                <e-grid-column field="OrganisationName" headerText="Organisation"></e-grid-column>
                <e-grid-column field="ProgrammeName" headerText="Programme"></e-grid-column>
                <e-grid-column field="ProjectName" headerText="Project"></e-grid-column>
                <e-grid-column field="SiteName" headerText="Site"></e-grid-column>
                <e-grid-column field="StationName" headerText="Station"></e-grid-column>
                <e-grid-column field="PhenomenonName" headerText="Phenomenon"></e-grid-column>
                <e-grid-column field="OfferingName" headerText="Offering"></e-grid-column>
                <e-grid-column field="UnitName" headerText="Unit"></e-grid-column>
                <e-grid-column field="Count" headerText="Count"></e-grid-column>
                <e-grid-column field="StartDate" headerText="Start"></e-grid-column>
                <e-grid-column field="EndDate" headerText="End"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>