@using SAEON.Observations.QuerySite.Models
@model QueryModel
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(i => i.StartDate)
    </div>
    <div class="col-md-10">
        @Html.EJ().DatePickerFor(i => i.StartDate).DateFormat("dd MMM yyyy")
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(i => i.EndDate)
    </div>
    <div class="col-md-10">
        @Html.EJ().DatePickerFor(i => i.EndDate).DateFormat("dd MMM yyyy")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.EJ().Button("btnSaveQuery").Text("Save Query").ShowRoundedCorner(true).Type(ButtonType.Button).Size(ButtonSize.Large).ContentType(ContentType.TextAndImage).PrefixIcon("e-icon e-save")
        @(Html.EJ()
            .Button("btnSearch")
            .Text("Search")
            .ShowRoundedCorner(true)
            .Type(ButtonType.Button)
            .Size(ButtonSize.Large)
            .ContentType(ContentType.TextAndImage)
            .PrefixIcon("e-icon e-search")
            .ClientSideEvents(e => e.Click("onSearchClick"))
        )
    </div>
</div>
<script type="text/javascript">
    function onSearchClick() {
        var startDate = $("#StartDate").ejDatePicker('instance')._dateValue;
        var endDate = $("#EndDate").ejDatePicker('instance')._dateValue;
        ajaxUpdateFilters(startDate, endDate)
    }
    function ajaxUpdateFilters(startDate, endDate) {
        $.ajax({
            url: "/Query/UpdateFilters",
            data: JSON.stringify({
                StartDate: startDate,
                EndDate: endDate
            }),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                //alert(data)
                $('#PartialFilters').html(data);
                ajaxDataQuery();
            },
            error: function () {
                alert("Oops");
            }
        });
    }
    function ajaxDataQuery() {
        $.ajax({
            url: "/Query/DataQuery",
            async: true,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#PartialQueryResults').html(data);
            },
            error: function () {
                alert("Oops");
            }
        });
    }
</script>
