@using SAEON.Observations.QuerySite.Models
@model QueryModel
@{
    ViewBag.Title = "Query";
}
<div id="waiting">
    @Html.EJ().WaitingPopup("waiting").Text("Please wait...").ShowOnInit(false)
    <div class="row">
        <div class="col-md-12">
            @(Html.EJ().Tab("QueryTabs").Items(tabs =>
                {
                tabs.Add().ID("LocationsTab").Text("Where").ContentTemplate(
                    @<div class="row">
                        <div class="col-md-6" id="PartialLocations">
                            @Html.Partial("Locations", Model)
                        </div>
                        <div class="col-md-6" id="PartialSelectedLocations">
                            @Html.Partial("SelectedLocations", Model)
                        </div>
                    </div>);
                    tabs.Add().ID("FeaturesTab").Text("What").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-6" id="PartialFeatures">
                                @Html.Partial("Features", Model)
                            </div>
                            <div class="col-md-6" id="PartialSelectedFeatures">
                                @Html.Partial("SelectedFeatures", Model)
                            </div>
                        </div>);
                    tabs.Add().ID("FiltersTab").Text("When").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-12" id="PartialFilters">
                                @Html.Partial("Filters", Model)
                            </div>
                        </div>);
                    tabs.Add().ID("StationsMapTab").Text("Stations").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-12" id="PartialStationsMap">
                                @Html.Partial("StationsMap", Model)
                            </div>
                        </div>);
                    tabs.Add().ID("TableTab").Text("Table").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-12" id="PartialTable">
                            </div>
                        </div>);
                    tabs.Add().ID("CardsTab").Text("Cards").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-12" id="PartialCards">
                            </div>
                        </div>);
                    tabs.Add().ID("ChartTab").Text("Chart").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-12" id="PartialChart">
                            </div>
                        </div>);
                })
                .ClientSideEvents(ev => ev.ItemActive("onTabActive"))
                )
        </div>
    </div>
    <div class="row ButtonRow">
        <div class="col-md-12" id="PartialButtons">
            @Html.Partial("Buttons", Model)
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#TableTab").addClass("hidden");
        $("#CardsTab").addClass("hidden");
        $("#ChartTab").addClass("hidden");
        $('#StationsMapTab').click(function (e) {
            UpdateMap();
        });
    });
    function ShowWaiting() {
        var wp = $("#waiting").data("ejWaitingPopup");
        wp.show();
    }
    function HideWaiting() {
        var wp = $("#waiting").data("ejWaitingPopup");
        wp.hide();
    }
    var mapVisible = false;
    function onTabActive() {
        if (!mapVisible) {
            var tab = $("#QueryTabs").data("ejTab");
            if (tab.selectedItemIndex() == 3) {
                UpdateMap();
                mapVisible = true;
            }
        }
    }
</script>
<style type="text/css" class="cssStyles">
    #target {
        margin: 0 auto;
    }

    #target_WaitingPopup .e-image {
        display: block;
        height: 100px;
    }

    #popup {
        height: auto;
        width: auto;
        margin-top: 100px;
    }
</style>
