@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en-za">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("Metas", required: false)
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaKeywords))
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    <title>@(ViewBag.Title == "Observations Database" ? "Observations Database" : "Observations Database - " + @ViewBag.Title)</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <environment names="Development">
        <link rel="stylesheet" href="~/node_modules/mdbootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/node_modules/mdbootstrap/css/mdb.css" />
        <link rel="stylesheet" href="~/css/SAEON.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/node_modules/mdbootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/node_modules/mdbootstrap/css/mdb.min.css" />
        <link rel="stylesheet" href="~/css/SAEON.min.css" />
    </environment>
    @RenderSection("Styles", required: false)
    <script type="text/javascript">var appInsights = window.appInsights || function (a) { function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c }({ instrumentationKey: "45bcc62c-61d7-408a-a268-a5703b8fc5ab" }); window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();</script>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="bg-SAEON" id="Body">
    <div id="Page" class="container bg-white text-dark rounded">
        <header id="Header">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="Logo img-fluid" src="~/Images/Banner.jpg" alt="SAEON Banner" title="© SAEON" />
                </div>
            </div>
            <nav class="navbar navbar-expand-sm navbar-dark bg-SAEON rounded">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Data
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Inventory</a>
                                <a class="dropdown-item" href="#">Data</a>
                                <a class="dropdown-item" href="#">Spacial Coverage</a>
                                <a class="dropdown-item" href="#">Temporal Coverage</a>
                            </div>
                        </li>
                        @*@await Html.PartialAsync("_AdminPartial")*@
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </nav>
            <h1>
                @if (ViewBag.Title == "Observations Database" || string.IsNullOrWhiteSpace(ViewBag.Title))
                {
                    <text>Observations Database</text>
                }
                else
                {
                    <text>Observations Database</text> @:&ndash; @ViewBag.Title
                    if (!string.IsNullOrWhiteSpace(ViewBag.Description))
                    {
                        <small>@Html.Raw(ViewBag.Description)</small>
                    }
                }
            </h1>
        </header>
        <partial name="_CookieConsentPartial" />

        <div id="Body" class="container body-content">
            @RenderBody()
        </div>
        <footer id="Footer">
            <div class="row">
                <div class="col-12">
                    &copy; @DateTime.Now.Year - South African Environmental Observation Network (SAEON)<br />
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                        <img alt="Creative Commons License" class="image-respoonsive footer-left-image" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
                    </a>
                    <br />
                    <div style="clear: both">
                        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Identity Service</span> is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/node_modules/mdbootstrap/js/jquery-3.3.1.min.js"></script>
        <script src="~/node_modules/mdbootstrap/js/popper.min.js"></script>
        <script src="~/node_modules/mdbootstrap/js/bootstrap.js"></script>
        <script src="~/node_modules/mdbootstrap/js/mdb.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/node_modules/mdbootstrap/js/jquery-3.3.1.min.js"></script>
        <script src="~/node_modules/mdbootstrap/js/popper.min.js"></script>
        <script src="~/node_modules/mdbootstrap/js/bootstrap.min.js"></script>
        <script src="~/node_modules/mdbootstrap/js/mdb.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>

</html>
