<!DOCTYPE html>
<html lang="en-za">
<head>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta charset="utf-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128063984-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-128063984-4');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @RenderSection("MetaTags", required: false)
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaKeywords))
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    <title>@(ViewBag.Title == "Observations Database" || string.IsNullOrEmpty(ViewBag.Title) ? "Observations Database" : "Observations Database - " + @ViewBag.Title)</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/SAEON.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">
    @Styles.Render("~/Content/ej/web/bootstrap-theme/ej.web.all.min.css")
    @RenderSection("Styles", required: false)
    <script>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;) r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: 'ab8abeba-cc7e-4238-a3d1-00781fb48938'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body class="bg-SAEON" id="Document">
    <div id="Page" class="container-fluid bg-white text-dark rounded">
        <header id="Header">
            <div class="row">
                <div class="col-md text-center">
                    <img class="Logo img-fluid" src="~/Images/SAEON 20th Logo.png" alt="SAEON Banner" title="© SAEON" />
                </div>
            </div>
            <nav class="navbar navbar-expand-sm navbar-dark bg-SAEON rounded">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownQuery" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Query</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownQuery">
                                @Html.ActionLink("Inventory", "Index", "Inventory", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Data", "Index", "DataWizard", null, new { @class = "dropdown-item" })
                                @*@Html.ActionLink("Spacial Coverage", "Index", "SpacialCoverage", null, new { @class = "dropdown-item" })*@
                                @*@Html.ActionLink("Temporal Coverage", "Index", "TemporalCoverage", null, new { @class = "dropdown-item" })*@
                            </div>
                        </li>
                        @Html.Partial("_AdminPartial")
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @Html.Partial("_DataSourcesPartial")
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </nav>
            <h1>
                @if (ViewBag.Title == "Observations Database" || string.IsNullOrWhiteSpace(ViewBag.Title))
                {
                    <text>Observations Database</text>
                }
                else
                {
                    <text>Observations Database</text> @:&ndash; @ViewBag.Title
                    if (!string.IsNullOrWhiteSpace(ViewBag.Description))
                    {
                        <small>@Html.Raw(ViewBag.Description)</small>
                    }
                }
            </h1>
        </header>
        <div id="Body">
            @RenderBody()
        </div>
        <footer id="Footer">
            <div class="row">
                <div class="col-md">
                    <br />
                    &copy; @DateTime.Now.Year - South African Environmental Observation Network (SAEON)<br />
                    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                        <img alt="Creative Commons License" class="footer-image" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                    </a>
                    <br />
                    <div style="clear: both">
                        Observations Database is licensed under a <a rel="license" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a><br />
                        @Html.ActionLink("How to cite", "HowToCite", "Home")
                    </div>
                </div>
                <div class="col-6">
                    <div class="float-right">
                        <a href="https://www.dst.gov.za/" target="_blank">
                            <img class="footer-image dsi-logo" src="~/Images/DSI logo.jpg" alt="Department of Science and Innovation logo" title="Department of Science and Innovation" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/js/mdb.min.js"></script>
    @Scripts.Render("~/Scripts/jsrender.min.js")
    @Scripts.Render("~/Scripts/ej/web/ej.web.all.min.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("Scripts", required: false)
    @Html.EJ().ScriptManager()
</body>
</html>