@using SAEON.Observations.QuerySite.Models
@model SpacialCoverageModel
@{
    ViewBag.Title = "Spacial coverage";
}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcCAczkNZZUu5DfM78-7cpBrAnwyEy_Tg&callback=initMap"></script>
<script src="~/Scripts/SpacialCoverage.js"></script>
<div id="waiting">
    @Html.EJ().WaitingPopup("waiting").Text("Please wait...").ShowOnInit(false)
    <div class="row">
        <div class="col-md-12">
            @(Html.EJ().Tab("SpacialCoverageTabs").Items(tabs =>
                {
                    tabs.Add().ID("LocationsTab").Text("Where").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-6" id="PartialLocations">
                                @Html.Partial("Locations", Model)
                            </div>
                            <div class="col-md-6" id="PartialSelectedLocations">
                                @Html.Partial("SelectedLocations", Model)
                            </div>
                        </div>);
                    tabs.Add().ID("FeaturesTab").Text("What").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-6" id="PartialFeatures">
                                @Html.Partial("Features", Model)
                            </div>
                            <div class="col-md-6" id="PartialSelectedFeatures">
                                @Html.Partial("SelectedFeatures", Model)
                            </div>
                        </div>);
                    tabs.Add().ID("FiltersTab").Text("When").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-12" id="PartialFilters">
                                @Html.Partial("Filters", Model)
                            </div>
                        </div>);
                    tabs.Add().ID("MapTab").Text("Map").ContentTemplate(
                        @<div class="row">
                            <div class="col-md-12" id="PartialMap">
                                @Html.Partial("CoverageMap")
                            </div>
                        </div>);
                })
                .ClientSideEvents(ev => ev.ItemActive("onTabActive"))
            )
        </div>
    </div>
    <div class="row ButtonRow">
        <div class="col-md-12" id="PartialButtons">
            @Html.Partial("Buttons", Model)
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).resize(function () {
        UpdateMap();
    });
</script>
<style type="text/css" class="cssStyles">
    #target {
        margin: 0 auto;
    }

    #target_WaitingPopup .e-image {
        display: block;
        height: 100px;
    }

    #popup {
        height: auto;
        width: auto;
        margin-top: 100px;
    }
</style>
